<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <!-- Don't rewrite actual files -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <!-- Don't rewrite folders -->
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <!-- Don't rewrite API requests -->
            <add input="{REQUEST_URI}" pattern="^/api/" negate="true" />
          </conditions>
          <!-- Rewrite everything else to index.html -->
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
